.row{
    overflow: hidden; 
}

#main-container {
	margin-top: 80px;
}

#profile {
	height: 385px; 
	width: 350px; 
	display: block; 
	margin: auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#intro-column {

}

#intro-text {
	background-color: white;
	margin-bottom: 100px;
}

#project-header {
	margin-top: 20px;
}

#kaggle-champs {
	background-color: skyblue;
}

#kaggle-lanl {
	background-color: gray;
}

.project-banner {
	height: 400px; 
	width: 80%; 
	display: block; 
	margin:auto
}

